* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	background-color: rgb(117, 156, 126);
}

h2 {
	text-align: center;
	font-size: 4vw;
}

h3 {
	text-align: center;
	font-size: 3vw;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.gameBoard {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#grid-container {
	margin: 2vw auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(31%, 1fr));
	grid-gap: 0.3vw;
	border: solid black 0.3vw;
	background-color: black;
	width: 40%;
	height: 37vw;
}

.grid {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: YoureGone-Regular, sans-serif;
	background-color: rgb(117, 156, 126);
	font-size: 8vw;
	text-align: center;
	line-height: 150%;
	width: 100%;
	height: 100%;
	user-select: none;
}

.won {
	background-color: rgb(65, 170, 185);
}

button {
	display: block;
	border-radius: 0.5vw;
	font-size: 2vw;
	width: 10%;
	margin: auto;
	text-align: center;
	margin: 2vw auto;
}

#result {
	margin: 2vw auto;
}

.won {
	background-color: coral;
}

@media only screen and (max-width: 1024px) {
	#grid-container {
		width: 80%;
		height: 75vw;
	}

	.grid {
		font-size: 17vw;
	}
}
